header {
  display: grid;
  grid-template-columns: 30% 70%;
  background: white;
  color: black;
}

.pagetitle {
  font-family: "Times New Roman", Times, serif;
  padding: 230px 0;
  grid-column: 1 / 2;
  grid-row: 1;
}

[data-component="slideshow"] .slide {
  display: none;
  text-align: center;
}

[data-component="slideshow"] .slide.active {
  display: block;
}

.carousel {
  grid-column: 2 / 3;
  grid-row: 1;
}

.carousel .slide img {
  width: 100%;
  height: 700px;
  object-fit: scale-down;
}

select {
  grid-column: 1 / 2;
  grid-row: 2;
  width: 250px;
}

body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  grid-column: 1/ 3;
  grid-row: 3;
  padding: 20px;
}

#albumInfo {
  display: grid;
  grid-template-columns: 30% 70%;
}

.musician {
  grid-column: 1 / span 1;
  grid-row: 3;
  padding: 20px;
}

.musician img {
  max-height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  padding: 20px;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-top: 20px;
  grid-column: 2 /3;
  grid-row: 3;
  padding: 20px;
}

table img {
  max-height: 120px;
  margin-bottom: 20px;
}
