* {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: lightgray;
  color: black;
}

nav .navbar {
  padding-top: 20px;
}

.nav-item {
  margin-left: 40px;
  margin-bottom: 10px;
}

.nav-link {
  font-size: 12px;
  padding: 0 0 5px 0;
}

.introduction {
  margin: 20px 0 30px;
}

.introduction img {
  height: 100%;
  object-fit: scale-down;
  padding: 8px;
}

select {
  width: 250px;
}

body {
  background: white;
  color: black;
  padding: 20px;
}

.selectmusician {
  margin: 20px 0 30px;
}

.musician {
  padding: 20px;
}

.musician img {
  max-height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  padding: 20px;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-top: 20px;
  padding: 20px;
}

table img {
  max-height: 120px;
  margin-bottom: 20px;
}

.aboutme {
  background: darkgray;
  color: white;
}

.aboutme img {
  height: 100%;
  object-fit: scale-down;
  padding: 8px;
}

footer {
  padding: 20px;
}
